ZStack-CC2530-2.5.1a/Projects/zstack/Samples/ProjectApp/CC2530DB/CoordinatorEB/
ZStack-CC2530-2.5.1a/Projects/zstack/Samples/ProjectApp/CC2530DB/ProjectApp.dep
ZStack-CC2530-2.5.1a/Projects/zstack/Samples/ProjectApp/CC2530DB/settings/
